body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.input-bar {
    background: #ccc;
    display: flex;
}

.url-input-container {
    flex-grow: 1;
    padding: 10px;
}

#url-input {
    box-sizing: border-box;
    width: 100%;
    border: 0;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 1;
}

.go-button-container {
    flex-shrink: 0;
    padding: 10px;
    padding-left: 0;
}

#go-button {
    border: 0;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 1;
    background: #333;
    color: #fff;
}

#tab-bar-div {
    background: #ccc;
}

.tab-button {
    padding: 5px 10px;
    font-size: 12px;
    line-height:  1;
    background: #ccc;
    border: 1px solid #333;
    margin-right: 5px;
    border-bottom: 0;
}

.tab-button.active {
    background: #333;
    color: #fff;
}

.webpage-iframe {
    position: absolute;
    top: 69px;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.webpage-iframe.active {
    visibility: visible;
}
